html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    scroll-behavior: smooth;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

.App {
  text-align: center;
}

/* GENERAL CSS */

div.centeredLine, .leftLine, .rightLine {
  display: block;
  width: 50vw;
  height: 3px;
  padding: 0!important;
  background: orange;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

h1 {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

@media only screen and (min-width: 1000px){
  div.leftLine {
    margin-left: 100px;
  }
  
  div.rightLine {
    margin-right: 100px;
  }
}

/* SKILLS CSS*/

.skillsImg {
  height: 50px;
  width: 50px;
  vertical-align: -25px;
  filter: grayscale(1);
  transition: 0.5s;
  padding: 10px;
  border-radius: 100px;
}

.skillsImg:hover {
  filter: none;
  transition: 0.5s;
}

.skill {
  display: inline-block;
  padding: 30px;
  width: 240px;
  text-align: left;
}

.skillTitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}

.skillsSection {
  display: block;
  background-color: rgb(223, 223, 223);
  border-top: 10px solid rgb(223, 223, 223);
}

.skillsSection p {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  line-height: 1.5em;
  padding: 10px;
}

.alignLeft {
  position: relative;
  margin: 0 auto;
  font-size: 3em;
}

.skillImgRow {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px){
  .alignLeft {
    margin-left: 100px;
    text-align: left;
  }
}

@media only screen and (min-width: 1600px){
  .skillsSection p {
    font-size: 1.5em;
  }
}

/* MAIN HEADER */

div.header {
  padding-top: 119px;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid orange;
}

h1.mainHeader {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.70em;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
}

hr {
  width: 50vw;
  border: 5px solid orange;
  border-radius: 10px;
}

div.row {
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
}

p.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
}

* {
  text-decoration: none;
}

@media only screen and (min-width: 1000px){
  h1.mainHeader {
    font-size: 2em;
  }
}

/* SOCIALS CSS */

.socials-container {
  justify-content: center;
  width: 75%;
  display: inline-block;
}

.socials {
  display: inline-block;
  padding: 10px;
}

.socialImg {
  filter: grayscale(70%);
  transition: 0.5s;
  width: 40px;
}

.socialImg:hover {
  filter: none;
  transition: 0.5s;
}

@media only screen and (min-width: 1000px){
  .socials-container {
    width: 100%;
  }
  
  .socialImg {
    width: 100%;
  }
}

/* ABOUT CSS */

.aboutSection {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selfImage {
  height: auto;
  width: 80%;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid orange;
}

.about-info p {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  line-height: 1.5em;
  padding: 10px;
}

.about-interests p {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  line-height: 1.5em;
  padding: 10px;
}

.about-interests ul {
  margin: 0 auto;
  list-style-type: circle;
  text-align: left;
  width: 70%;
  padding-bottom: 10px;
}

.about-interests ul li {
  line-height: 1.5em;
}

@media only screen and (min-width: 1000px){

  .aboutSection {
    display: inline-block;
    margin: 0 auto;
    height: fit-content;
    font-size: 1em;
  }
  
  .selfImage {
    float: left;
    height: auto;
    width: 30%;
    border-radius: 50%;
    margin: 1.5%;
    border: 5px solid orange;
  }

  .about-info, .about-interests {
    float: left;
    width: 30%;
    margin: 0 auto;
    padding-top: 8%;
  }
  
  .about-info p {
    margin: 0 auto;
    text-align: left;
    width: 80%;
    line-height: 1.5em;
    padding: 10px;
  }
  
  .about-interests p {
    margin: 0 auto;
    text-align: left;
    width: 80%;
    line-height: 1.5em;
    padding: 10px;
  }
  
  .about-interests ul {
    margin: 0 auto;
    list-style-type: circle;
    text-align: left;
    width: 70%;
    padding-bottom: 10px;
  }
  
  .about-interests ul li {
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 1600px){
  .aboutSection {
    font-size: 1.5em;
  }

  .about-info, .about-interests {
    padding-top: 10%;
  }
}

.aboutIntro {
  text-align: center;
  font-size: 1.5em;
}

/* EDUCATION CSS */

.educationContainer {
  animation: slideInFromLeft 2s;
}

.educationSection {
  display: block;
  background-color: white;
  min-height: 50vh;
}

.school {
  padding: 20px;
  background-repeat: no-repeat;
}

h2.schoolTitle {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 10px 0 10px 0;
  text-align: center;
}

p.schoolDegree {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #333;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

div.schoolDesc {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.alignRight {
  text-align: right;
  margin-right: 100px;
  font-size: 3em;
}

/* PROJECT CSS */

.projectsSection {
  display: block;
  background-color: rgb(223, 223, 223);
  min-height: 45vh;
  border: 10px solid rgb(223, 223, 223);
}

.project {
  position: relative;
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 15px;
  perspective: 600px;
}

.projectCard {
  width: 100%;
  height: 100%;
  position: absolute;
}

.projectCard:hover .projectFront {
  transform: rotateY(180deg)
}

.projectCard:hover .projectBack {
  transform: rotateY(0deg)
}

.projectCardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.projectFront {
  display: table;
  background: orange;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition-duration: 1s;
  transition-property: transform;
  backface-visibility: hidden;
}

.projectFront h2 {
  z-index: 2;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px;
  text-align: center;
}



.projectFront img{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  filter: grayscale(1);
  opacity: 0.3;
  border-radius: 10px;
}

.projectBack {
  background: orange;
  transform: rotateY(180deg);
  border-radius: 10px;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition-duration: 1s;
  transition-property: transform;
  backface-visibility: hidden;
}

.projectBack p {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  color: whitesmoke;
  letter-spacing: 0.1em;
  padding: 4px;
  text-align: center;
  top: 10%;
  position: relative;
}

.linkTo {
  width: 50px;
  height: auto;
  transition: 0.5s;
  margin: 10px;
}

.linkTo:hover {
  filter: saturate(300%);
  transition: 0.5s;
}

.linkDiv {
  position: absolute;
  bottom: 5%;
  left: 23%
}

p.languages {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  top: 5%;
  letter-spacing: 0.1em;
}

/* BOTTOM CONTACT CSS */

div.footer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: 5px solid orange;
}

.contactMe {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  visibility: visible;
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1;
  margin-top: 50px;
  border: 1px solid orange;
  border-image: initial;
  border-radius: 50px;
  padding: 1.25rem 1.75rem;
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: orange;
  outline: 0px;
  transition: 0.5s;
}

.contactMe:hover {
  background: orange;
  color:white;
}

/* BLOG CSS */

.blog {
  display: inline-block;
  width: 40%;
  height: auto;
  margin: 15px;
  background: transparent;
  border: 1px solid orange;
  border-radius: 5px;
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

.blog:hover {
  background: rgb(255, 248, 234);
  transform: scale(1.05)
}

.blogDesc {
  font-size: small;
}

.blogDate {
  font-size: smaller;
}

/* NAVBAR */

header {
  background-color: #282c34;
  height: fit-content;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 3px solid orange;
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

header .header-brand{
  font-size: 24px;
  color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 16px;
  text-transform: uppercase;
}

header nav ul li a {
  font-size: 16px;
  color: whitesmoke;
}

a.anchor {
  position: relative;
  top: -119px;
}

@media only screen and (min-width: 1000px){
  header .header-brand{
    margin: 31px 0;
    line-height: 38px;
    text-align: left;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid whitesmoke;
    float: left;
  }

  header nav ul {
    margin: 20px 0 0 20px;
    float: left;
  }

  header nav ul li {
    margin-top: 0;
  }
  
  header nav ul li a {
    line-height: 60px;
  }

  a.anchor {
    top: -100px;
  }
}